@font-face {
  font-family: 'Pixel';
  src: url('font/Munro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    /*background-color: rgb(255, 255, 255);*/
    background: #2ecc71;
    font-family: "Pixel"
}

a {
	text-decoration: none;
}

.share_button {
	margin-left: 20px;
	margin-right: 20px;
	color: white;
}

#console {
    position : absolute;
    height : 500px;
    width: 500px;
    background:white;
    border: 1px solid black;
    
}

canvas{
	position:absolute;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	top:0;
	left:0;
}

#loader {
	background: #2ecc71;
	z-index: 9999999;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 10%;
	color: #f1c40f;
	text-align: center;
}

#gui #whiteElement{
	top: 0;
	left:0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
}

#gui {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}

.guiElement {
	display: none;
}

#start, #restart {
	position: absolute;
	height: 60px;
	margin-left: 42%;
	margin-right: 42%;
	width: 16%;
	/* background: white; */
	opacity: 0.8;
	/* border: 1px solid#ccc; */
	border-radius: 7px;
	top: 80%;
	/*background: url("../img/hud.png");*/
	background: #f1c40f;
	color: white;
	/* background-clip: border-box; */
	background-size: cover;
	background-repeat: round;
	line-height: 60px;
	font-size: 24px;
	text-align: CENTER;
}

#gameinfo {
	position: absolute;
	width: 20%;
	height: auto;
	background: url("../img/hud.png");
	/* background: #1abc9c; */
	color: black;
	border-radius: 10px;
	/* background-clip: border-box; */
	background-size: cover;
	background-repeat: round;
	top: 50%;
	left: 20px;
	opacity: 0.6;
	text-align: center;
	display: none;
}

#gameinfo h1, h2 {
	position: relative;
	margin:10px;
	clear: both;
	height: 80px;
	font-size: 40px;
	
	line-height: 80px;
}

#gameover, #startgame {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 25%;
	top: 0;
	opacity: 0.7;
	background: #e74c3c;
	color: white;
	text-align: center;
}

#startgame {
	background: #2ecc71;
	z-index: 99;
}

